body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
/*Header*/
nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin-right: 20px;
  align-items: center;
}
nav li {
  margin: 0 10px 0px 20px;
}
nav img {
  height: 80px;
}

nav a {
  text-decoration: none;
}
/*Banniere*/
#banniere {
  position: relative;
}

#banniere_img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
#banniere_contenu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#banniere_contenu img {
  height: 60px;
}

h1 {
  color: white;
  font-weight: 400;
  font-size: 27px;
}
/*Information/Explication du concepte*/

#presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}
#description {
  max-width: 600px;
  margin: 20px 0px 20px 0px;
  font-size: 16px;
}
#information {
  display: flex;
  max-width: 600px;
}
#citation {
  max-width: 600px;
}
#information article {
  padding: 10px;
}
#information h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
}
#information p {
  font-size: 14px;
}
#citation_contenu {
  max-width: 475px;
  margin-top: 40px;
}
/*Footer*/

footer {
  background-color: rgb(91, 53, 157);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer h2 {
  font-size: 15px;
  margin: 20px 0px 20px 0px;
}

#icon {
  width: 200px;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  opacity: 0.6;
  margin: 10px 0px 15px 0px;
}

#pied_item {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.item h3 {
  font-size: 18;
  opacity: 0.8;
  font-weight: 400;
}

.item li {
  font-size: 16px;
  font-weight: bold;
}

#no_point {
  list-style-type: none;
}

@media screen and (max-width: 550px) {
  #information,
  #pied_item {
    flex-direction: column;
  }
}
